/* MISC
---------------------------------- */
body {
  font-size: 18px;
  font-family: Avenir, sans-serif;
  overflow-x: hidden;
}

.section {
  padding: 5rem 0;
}

@font-face {
  font-family: Avenir;
  src: url('../fonts/AvenirLTStd-Standard.otf');
}

a {
  color: #00ABC5;
}

a:hover {
  text-decoration: none;
}

/* HEADER
---------------------------------- */
header {
  padding: 2rem 1rem;
  border-bottom: 1px solid #ccc;
  background: #fff;
  z-index: 9999;
}

header ul img {
  max-width: 115px;
  width: 100%;
  height: auto;
}

.mobile-toggle {
  position: relative;
  z-index: 99999;
  right: 15px;
  background: none;
  border: 0;
}

nav {
  position: absolute !important;
  top: 0;
  left: 0;
  background: #F15A29;
  z-index: 9999;
  display: none;
}

nav ul {
  text-align: right;
  padding: 1rem 7px;
  margin-top: 3.5rem;
}

nav li {
  padding: .5em 0;
}

nav li a {
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

.logo {
  width: 100px;
  height: 46px;
  margin: 0 auto;
}

.learn ul li {
  margin-top: .8rem;
  color: #1F2C5B;
}

.learn ul li span {
  display: inline-block;
  margin-left: .75rem;
}

.learn ul li:hover { cursor: pointer; }

.learn p {
  display: none;
  background: #1F2C5B;
  color: #fff;
  padding: 3rem 4rem;
  position: absolute;
  top: 5.4rem;
  width: 100%;
  right: 0;
}

.learn p.active { display: block; }

/* INTRO
---------------------------------- */
.intro {
  background: url('../images/nature-stream-trees.jpg');
  background-size: cover;
  padding: 8rem 1rem;
}

.intro h1 {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 3rem;
}

/* MAIN CONTENT
---------------------------------- */
.quote {
  background: #F15A29;
  padding: 0;
}

.quote-orange {
  display: block;
  margin: 3rem auto 6rem auto;
}

.quote * { color: #fff; }

.quote p:first-child::before {
  content: '\0022';
  font-style: italic;
  display: block;
  font-weight: bold;
  font-size: 3rem;
  background: #fff;
  width: 80px;
  color: #F15A29;
  margin: 0 auto;
}

.quote p:last-child {
  font-style: italic;
}

.quote-content img {
  display: block;
  margin: 0 auto 3rem auto;
}

.quote .img-fluid {
  min-height: 100%;
  object-fit: cover;
  object-position: 0 0;
}

.text-italic {
  font-style: italic;
}

.section h2,
.section h3 {
  font-weight: bold;
}

.section h2 {
  color: #F15A29;
  font-weight: 700;
  font-size: 2.25rem;
  margin-bottom: 4.5rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.section h3 {
  color: #00ABC5;
  font-family: 'Roboto Condensed', sans-serif;
}

/* FAQ
---------------------------------- */
.faq {
  background: #D7CE45;
  padding: 2rem;
  margin-bottom: 1rem;
  color: #2D3A42;
}

.question {
  font-weight: bold;
}

.faq .q,
.faq .a { text-align: center; }

.faq .q p,
.faq .a p {
  background: #fff;
  text-align: center;
  display: inline-block;
  padding: .75rem 1rem .25rem 1rem;
  border-radius: 50%;
  color: #2D3A42;
  font-size: 1.35rem;
}

.faq .a p {
  color: #D7CE45
}

.card { border: 0; }

.card p {
  background: #F15A29;
  color: #fff;
  padding: 1rem 1.5rem;
  margin: 0;
}

.card p:last-child { font-style: italic; }

/* FOOTER
---------------------------------- */

footer {
  background: #2D3A42;
  color: #fff;
  padding: 3rem 1rem;
  text-align: center;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #00ABC5;
  text-decoration: none;
}

footer small {
  font-size: .75rem;
}

.social li a img {
  width: 60px;
  height: auto;
}

.social {
  text-align: center;
}

.social li {
  display: inline-block;
  margin-right: 1rem;
}

/* .social { text-align: center }

.social li:last-child { margin-right: 0; }

.social li:first-child a { padding: 1rem 1.5rem; }

.social li a {
  color: #fff;
  font-size: 1.5rem;
  background: #495A60;
  padding: 1rem 1.2rem;
  border-radius: 50%;
} */

@media screen and (min-width: 484px) {
  .faq { padding: 3rem; }

  nav li {
    margin-right: 1rem;
    display: inline-block;
  }

  nav li a {
    color: #000;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    font-weight: 300;
  }

  nav li a:hover {
    color: #00ABC5;
    text-decoration: none;
  }

  nav li:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 767px) {
  /* .social { text-align: right }

  .social li {
    margin-right: .5rem;
  }

  .social li:first-child a { padding: .5rem .8rem; }

  .social li a {
    font-size: 1rem;
    padding: .5rem .65rem;
  } */

  .social {
    text-align: right;
  }

  nav li {
    margin-right: 2rem;
  }

  nav li a {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1200px) {
  .intro { padding: 15rem 1rem; }

  .intro h1 { font-size: 5rem; }

  /* .social li {
    margin-right: 1rem;
  }

  .social li:first-child a { padding: 1rem 1.5rem; }

  .social li a {
    font-size: 1.5rem;
    padding: 1rem 1.2rem;
  } */

  .learn p {
    width: 550px;
  }

  footer .info { text-align: left; }
}