/* MISC
---------------------------------- */
body {
  font-size: 18px;
}

.section {
  padding: 5rem 0;
}

/* HEADER
---------------------------------- */
header {
  padding: 2rem 1rem;
  border-bottom: 1px solid #ccc;
}

header img {
  max-width: 115px;
  width: 100%;
  height: auto;
}

nav li {
  margin-right: 2rem;
  display: inline-block;
}

nav li:last-child {
  margin-right: 0;
}

.learn ul li {
  margin-top: .8rem;
  color: navy;
}

.learn ul li:hover { cursor: pointer; }

.learn p {
  display: none;
  background: navy;
  color: #fff;
  padding: 3rem 4rem;
  position: absolute;
  top: 5.5rem;
  width: 550px;
  right: 0;
}

.learn p.active { display: block; }

/* INTRO
---------------------------------- */
.intro {
  background: #ccc;
  padding: 15rem 1rem;
}

.intro h1 {
  font-weight: bold;
  text-align: center;
}

/* MAIN CONTENT
---------------------------------- */

.quote {
  background: #e0643a;
}

.quote * { color: #fff; }

.quote p:first-child::before {
  content: '\0022';
  font-style: italic;
  display: block;
  font-weight: bold;
  font-size: 3rem;
  background: #fff;
  width: 80px;
  color: #e0643a;
  margin: 0 auto;
}

.quote p:last-child {
  font-style: italic;
}

.section h2,
.section h3 {
  font-weight: bold;
}

.section h2 {
  color: #e0643a;
}

.section h3 {
  color: #4ba9c2;
}

/* FAQ
---------------------------------- */
.faq {
  background: #d6cd5d;
  padding: 2rem;
  margin-bottom: 1rem;
  color: #2D3A42;
}

.question {
  font-weight: bold;
}

.faq .q,
.faq .a { text-align: center; }

.faq .q p,
.faq .a p {
  background: #fff;
  text-align: center;
  display: inline-block;
  padding: .5rem 1rem;
  border-radius: 50%;
  color: #2D3A42;
  font-size: 1.35rem;
}

.faq .a p {
  color: #d6cd5d
}

.card { border: 0; }

.card p {
  background: #e0643a;
  color: #fff;
  padding: 1rem 1.5rem;
  margin: 0;
}

.card p:last-child { font-style: italic; }

/* FOOTER
---------------------------------- */

footer {
  background: #2D3A42;
  color: #fff;
  padding: 3rem 1rem;
  text-align: center;
}

footer small {
  font-size: .75rem;
}

.social { text-align: center }

.social li {
  display: inline-block;
  margin-right: 1rem;
}

.social li:last-child { margin-right: 0; }

.social li:first-child a { padding: 1rem 1.5rem; }

.social li a {
  color: #fff;
  font-size: 1.5rem;
  background: #495A60;
  padding: 1rem 1.2rem;
  border-radius: 50%;
}

@media screen and (min-width: 484px) {
  .faq { padding: 3rem; }
}

@media screen and (min-width: 767px) {
  .social { text-align: right }

  .social li {
    margin-right: .5rem;
  }

  .social li:first-child a { padding: .5rem .8rem; }

  .social li a {
    font-size: 1rem;
    padding: .5rem .65rem;
  }
}

@media screen and (min-width: 1200px) {
  .social li {
    margin-right: 1rem;
  }

  .social li:first-child a { padding: 1rem 1.5rem; }

  .social li a {
    font-size: 1.5rem;
    padding: 1rem 1.2rem;
  }

  footer .info { text-align: left; }
}